@import '~assets/css/mixin.scss';

.toplist {
  background-color: #f3f4f6;
  & &-title {
    position: relative;
    width: 100%;
    height: 152px;
    line-height: 152px;
    font-size: 46px;
    font-weight: bold;
    text-indent: 20px;
  }
  & .row-list {
    overflow: hidden;
    padding-left: 18px;
    margin-bottom: 30px;
  }
  & .row-list .row-item {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    .item-hd {
      width: 356px;
      height: 356px;
    }
    .row-item-bd {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      flex: 1;
      min-width: 0;
      box-sizing: border-box;
      padding: 0 32px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      p {
        height: 40px;
        line-height: 40px;
        font-size: 38px;
        color: #666;
        word-break: keep-all;
        @include no-wrap;
      }
    }
  }
  & .item-hd {
    position: relative;
    img {
      border-radius: 5px;
    }
    p {
      position: absolute;
      left: 15px;
      bottom: 15px;
      font-size: 20px;
      color: #fff;
    }
  }
  & .column-list {
    padding: 12px;
    overflow: hidden;
    .column-item {
      float: left;
      width: 342px;
      margin: 0 5px 45px;
      .item-hd {
        width: 344px;
        height: 344px;
      }
      .column-bd {
        height: 120px;
        line-height: 60px;
        font-size: 38px;
      }
    }
  }
}
