.silde-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  
  .slide-group {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    height: 100%;
  }
  
  .slide-item {
    float: left;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    padding: 0 18px;
    height: 100%;
  }
  
  .slide-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
