//颜色定义规范

//主题色
$theme-color: #e5473c;
$theme-bg-color: #e5473c;


//字体大小定义规范
$font-size-small-ss: 30px;
$font-size-small-s: 32px;
$font-size-small: 34px;
$font-size-small-x: 36px;
$font-size-medium: 38px;
$font-size-medium-x: 40px;
$font-size-large-s: 42px;
$font-size-large: 48px;
$font-size-large-x: 50px;
