//颜色定义规范
$theme: #e5473c; // 网易红
//$theme: #31c27c; // 企鹅绿
//$theme: #0c8ed9; // 酷狗蓝
//$theme: #f60; // 虾米橙

//主题色
$theme-color: $theme;
$theme-bg-color: $theme;
$theme-main-color: #f3f4f6;


//字体大小定义规范
$font-size-small-ss: 30px;
$font-size-small-s: 32px;
$font-size-small: 34px;
$font-size-small-x: 36px;
$font-size-medium: 38px;
$font-size-medium-x: 40px;
$font-size-large-s: 42px;
$font-size-large: 48px;
$font-size-large-x: 50px;
