@import "~assets/css/mixin.scss";
@import "~assets/css/var.scss";

.discover {
  width: 100%;
  height: 100%;
  //position: fixed;
  //top: 160px;
  //bottom: 0;
  //width: 100%;
  @include scroll;
  & .banner {
    position: relative;
    height: 390px;
    padding-top: 18px;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 50px;
      left: 0;
      background-color: #e3453a;
    }
  }
  & .menu {
    display: flex;
    border-bottom: 1px solid #dbdcde;
    &-item {
      flex: 1;
      padding: 45px 0;
      & p {
        text-align: center;
        font-size: $font-size-small-x;
        color: #2e302f;
      }
    }
    &-icon {
      position: relative;
      width: 50%;
      height: 0;
      margin: 0 25% 25px;
      padding-top: 50%;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include bg-full;
      }
      &.fm:before {
        @include bg-url("~assets/img/discover/icn_fm.png")
      }

      &.fm:active:before {
        @include bg-url("~assets/img/discover/icn_fm_prs.png")
      }
      &.daily {
        &:before {
          @include bg-url("~assets/img/discover/icn_daily.png")
        }
        &:after {
          content: attr(data-date);
          position: absolute;
          top: 60%;
          left: 50%;
          font-size: $font-size-small-ss;
          color: #d33a31;
          transform: translate(-50%, -50%);
        }
      }
      &.daily:active {
        &:before {
          @include bg-url("~assets/img/discover/icn_daily_prs.png")
        }
        &:after {
          color: #fff;
        }
      }
      &.playlist:before {
        @include bg-url("~assets/img/discover/icn_playlist.png")
      }

      &.playlist:active:before {
        @include bg-url("~assets/img/discover/icn_playlist_prs.png")
      }
      &.rank:before {
        @include bg-url("~assets/img/discover/icn_rank.png")
      }

      &.rank:active:before {
        @include bg-url("~assets/img/discover/icn_rank_prs.png")
      }
    }
  }

  & .lcrlist {
    width: 100%;
    &-hd {
      height: 160px;
      padding-left: 18px;
      line-height: 160px;
      font-size: 46px;
      font-weight: 700;
      span {
        padding-right: 50px;
        @include bg-url("~assets/img/aa7.png");
        @include bg-full($s: 28px, $p: right center)
      }
    }
    &-bd {
      display: flex;
      flex-flow: wrap;
      padding: 0 13px;
    }
    &-item {
      position: relative;
      flex: 0 0 33.333333%;
      .item-img {
        position: relative;
        width: calc(100% - 10px);
        height: 0;
        padding-top: calc(100% - 10px);
        margin: 0 5px;
        overflow: hidden;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          z-index: 1;
          height: 80px;
          background: linear-gradient(to bottom, rgba(0, 0, 0, .35) 0, rgba(0, 0, 0, .2) 80%, rgba(0, 0, 0, 0) 100%);
        }
        img {
          position: absolute;
          top: 0;
          left: 0;
          @include img-full
        }
      }
      .item-title {
        height: 100px;
        margin: 20px 10px;
        line-height: 50px;
        color: #333;
        font-size: $font-size-small-s;
        word-wrap: break-word;
        word-break: break-all;
        @include no-wrap-line(2);
      }
      .item-play {
        position: absolute;
        top: 15px;
        right: 20px;
        z-index: 1;
        display: block;
        height: 40px;
        line-height: 40px;
        padding-left: 40px;
        font-size: 30px;
        color: #fff;
        @include bg-url("~assets/img/discover/zf.png");
        @include bg-full($p: left 0, $s: 30px)
      }
    }
  }
}
