@import "~assets/css/var.scss";

.mmProgress {
  position: relative;
  width: 100%;
  height: 2Px;
  padding: 9Px 0;
  margin: 0 10Px;
  user-select: none;
  & .mmProgress-bar {
    height: 2Px;
    width: 100%;
    background-color: $mmProgress-bar;
  }
  & .mmProgress-outer {
    position: absolute;
    top: 50%;
    left: 0;
    display: inline-block;
    width: 0;
    height: 2Px;
    margin-top: -1px;
    background-color: $mmProgress-outer;
  }
  & .mmProgress-inner {
    position: absolute;
    top: 50%;
    left: 0;
    display: inline-block;
    width: 0;
    height: 2Px;
    transform: translateY(-50%);
    background-color: $theme-bg-color;
    //小圆点
    .mmProgress-dot {
      position: absolute;
      top: 50%;
      right: -9Px;
      width: 18Px;
      height: 18Px;
      border-radius: 50%;
      transform: translate3d(0, -50%, 0);
      background-color: $mmProgress-dot-outer;
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 5Px;
        height: 5Px;
        border-radius: 50%;
        background-color: $mmProgress-dot-inner;
        transform: translate3d(-50%, -50%, 0);
      }
    }
  }
}
