.dots {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 25px;
  transform: translateZ(1px);
  text-align: center;
  font-size: 0;
  
  .dot {
    display: inline-block;
    margin: 0 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
  }
  
  .dot.on {
    background: #d43c33;
  }
}
