@import "~assets/css/mixin.scss";
@import "~assets/css/var.scss";

.playlist-wrapper {
  & .playlist-item {
    display: flex;
    padding: 10px 0 10px 20px;
    .playlist-hd {
      width: 160px;
      height: 160px;
      margin-right: 30px;
      border-radius: 10px;
      overflow: hidden;
    }
    .playlist-bd {
      flex: 1;
      min-width: 0;
      padding: 25px 15px 25px 0;
      border-bottom: 1px solid #eee;
      h2 {
        height: 50px;
        margin-bottom: 20px;
        line-height: 50px;
        font-size: 46px;
        color: #333;
        @include no-wrap;
      }
      p {
        height: 50px;
        line-height: 50px;
        font-size: 34px;
        color: #777;
        @include no-wrap;
      }
    }
    &:nth-last-of-type(1) .playlist-bd {
      border: 0;
    }
  }
}
